{% extends 'base.html' %}

{% block body %}

<div class="col-md-6 col-md-offset-3">
<h1 class="text-center">History</h1>
{% for category, message in get_flashed_messages(with_categories=True) %}
	<a href="{{ url_for('buy') }}"><div class="{{ category }} text-center">{{ message }}</div></a>
{% endfor %}

<h3>Purchases</h3>
<table class="table table-striped table-hover">
	<tr>
		<th class="col-xs-4">Timestamp</th>
		<th class="col-xs-4">Item</th>
		<th class="col-xs-4">Price (£)</th>
	</tr>
	{% for purchase in data['purchases'] %}
	<tr>
		<td>{{ purchase.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
		<td>{{ purchase.item.name }}</td>
		<td>{{ purchase.price }}</td>
	</tr>
	{% endfor %}
</table>

<h3>Payments</h3>
<table class="table table-striped table-hover">
	<tr>
		<th class="col-xs-6">Timestamp</th>
		<th class="col-xs-6">Value (£)</th>
	</tr>
	{% for payment in payments %}
	<tr>
		<td>{{ payment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
		<td>{{ payment.value }}</td>
	</tr>
	{% endfor %}
</table>

<hr>
</div>

{% endblock body %}