{% extends 'base.html' %}
{% block body %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="text-center">New Item</h1>
		<hr>
		<form class="form-horizontal" target="" method="POST" id="item_form">	
			<div class="form-group">
				<div class="col-md-3">
					<label class="control-label" for="id">ID</label>
				</div>
				<div class="col-md-9">
					<input id="id" name="id" type="text" class="form-control" disabled="true">	
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
					<label class="control-label" for="name">Name</label>
				</div>
				<div class="col-md-9">
					<input id="name" name="name" type="text" class="form-control">	
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
					<label class="control-label" for="price">Price</label>
				</div>
				<div class="col-md-9">
					<input id="price" name="price" type="text" class="form-control">	
				</div>
			</div>
			<div class="text-center">
				<button type="submit" id="submit_button" class="btn btn-success btn-lg">Save</button>
			</div>
		</form>
		<hr>
	</div>
</div>
{% endblock body %}