{% extends 'base.html' %}

{% block nav %}
{% endblock nav %}

{% block body %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="text-center">
			<h1>Honesty Shop</h1>
			<p>Welcome to the Honesty Shop app. Please login below to continue.</p>
		</div>
		<hr>
		{% for category, message in get_flashed_messages(with_categories=True) %}
			<div class="{{ category }} text-center">{{ message }}</div>
		{% endfor %}
		<form target="" method="POST" role="form" class="form-horizontal" id="login_form">
			<div class="form-group">
				<div class="col-md-3">
					<label class="control-label" for="email">Email</label>
				</div>
				<div class="col-md-9">
					{{ form.email(class_='form-control') }}
				</div>
			</div>
    		{% for error in form.email.errors %}
    		<div class="col-md-3"></div>
    		<div class="col-md-9">
				<div class="alert alert-danger text-center" role="alert">{{ error }}</div>
			</div>
    		{% endfor %}
    		<div class="form-group">
				<div class="col-md-3">
					<label class="control-label" for="password">Password</label>
				</div>
				<div class="col-md-9">
					{{ form.password(class_='form-control col-md-9') }}
				</div>
			</div>
    		{% for error in form.password.errors %}
    		<div class="col-md-3"></div>
    		<div class="col-md-9">
				<div class="alert alert-danger text-center" role="alert">{{ error }}</div>
			</div>
    		{% endfor %}
			<div class="text-right">
				<input value="Login" type="submit" id="submit_button" class="btn btn-primary btn-lg" onClick="submitForm('login_form')">
			</div>
			<hr>
			<div class="text-center">
				<p style="margin-top: 15px;">Not registered yet? Click <a href="{{ url_for('register') }}">here</a> to go to the registration page.</p>
				<p>Or if you've forgotten your password, click <a href="{{ url_for('reset') }}">here</a> to reset it.</p>
			</div>
		</form>
		<hr>
	</div>
</div>

{% endblock body %}