{% extends 'base.html' %}
{% block body %}
<h1>Update Password</h1>
<p>Please enter your details below to set your new password.</p>
<form target="" method="POST">
	<table>
		<tr>
			<td>Email:</td>
			<td><input name="username" id="username" type="text"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input name="password" id="password" type="password"></td>
		</tr>
		<tr>
			<td>Confirm Password:</td>
			<td><input name="name" id="name" type="text"></td>
		<tr>
			<td colspan="2"><input value="Update Password" type="submit"></td>
		</tr>
	</table>
</form>
<p>Click <a href="{{ urls['login'] }}">here</a> to go back to the login page without updating your password.</p>
{% endblock body %}