<!DOCTYPE html>

<head>
	<style>
	body {
		font-family: sans-serif;
	}
	</style>
</head>

<body>
	<div style="max-width: 600px;margin-left: auto;margin-right: auto;text-align: center;">
		<h1 style="color: #333;">Honesty Shop</h1>
		<p>Thanks for registering at the Honesty Shop. You can use the site to record purchases, making it easy for you to see what you've bought, what you've paid for and what you owe.</p>
		<a href="{{ activation_url }}" style="text-decoration: none;"><strong>Click to activate your account</strong></a>
	</div>
</body>